* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{

  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: auto;
  background-color: rgb(1, 163, 144);
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: bold;
  height: 100px;
}

.logo {
  padding-left: 10px;
  width: 100px;
}


.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 40px 10px 0 0;
  font-size: 24px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  
}

/* CSS */
.button-86 {
  all: unset;
  width: 53px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  top: 27px;
  right: 4px;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 9px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.search-container {
  margin: 20px auto;
  text-align: center;
  max-width: 100%;
  position: relative;
}
.search-bar{
  padding: 10px 320px 10px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid rgb(11, 208, 202);

}
.search-btn{
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0768b3;
  color: white;

}
.search-btn:hover{
  background-color: #016034;
}
.search-bar:hover{
  border:1px solid  red;
}
.res-container{
 display: flex;
  flex-wrap: wrap;
  /* height: 500px;  */
  width: auto;
  /* border: 1px solid black; */
  position: relative;
   left: 31px;
}
/* .res-card{
  /* height: 300px; */
  /* width: 200px; */
  /* border: 1px solid black; */
  /* margin: 5px; */
  /* background-color: #f0f0f0f0;
  border-radius: 5px;
 
}
.res-card:hover{
  border: 1px solid black; */
/* } * */
.search{
  margin: 10px;
}
.card{
  /* height: 200px; */
  width: 195px;
  padding: 5px;
  border-radius: 15px;
  
}
.card {
  width: 200px;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}
.card > img {
  width: 100%;
  border-radius: 10px;
}

.card > span {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  text-align: center;
}

.card > span > h4 {
  font-size: medium;
}

.card > span > h4:first-child {
  display: flex;
  align-items: center;
  background-color: rgb(19, 176, 1);
  border-radius: 5px;
  padding: 0 5px 0;
  color: white;
}

.card > span > h4:first-child .fa-star {
  font-size: small;
  padding: 0 10px 3px 0;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 2%;
  
}

.shimmer-card{
  height: 300px;
  width: 200px;
  background-color: #f0f0f0f0;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(212, 183, 183, 0.2);
  margin: 5px;
}
.footer {
  margin: 10px;
  width: auto;
  text-align: center;
  background-color: rgb(1, 163, 144);
  padding: 20px 10px 20px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}
.online-status{
  color: chartreuse;
}
.footer > i {
  padding: 0 5px 0;
  font-size: smaller;
}

.fa-heart {
  color: darkred;
}

.footer > strong {
  padding-left: 5px;
}

.footer > strong > span {
  color: rgb(203, 54, 0);
}